@charset "UTF-8";
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

body {
  font: 12px”宋体”, ”Arial Narrow”, HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #2d374b;
<<<<<<< HEAD
  text-decoration: none;
}

a:hover {
  color: #cd0200;
  text-decoration: none;
}

em {
  font-style: normal;
}

i {
  font-style: normal;
}

li {
  list-style: none;
=======
  text-decoration: none;
}

a:hover {
  color: #cd0200;
  text-decoration: none;
}

em {
  font-style: normal;
}

i {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  word-wrap: break-word;
>>>>>>> 2a2e6c422af3027a9f03dffb17b769edb544140c
}

img {
  border: 0;
  vertical-align: middle;
}

<<<<<<< HEAD
table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  word-wrap: break-word;
=======
.container {
  height: 100%;
}
.container .header {
  background: #ff841d;
  display: flex;
  justify-content: space-between;
}
.container .header a {
  height: 50px;
  display: flex;
  align-items: center;
}
.container .header a.logo {
  height: 50px;
  padding-left: 12px;
}
.container .header a.download {
  height: 50px;
  justify-content: center;
}
.container .header a img {
  width: 70%;
}
.container .main .searchbox {
  padding: 10px;
  border-bottom: 2px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .main .searchbox div {
  position: relative;
  height: 30px;
  flex: 1;
  border-radius: 15px;
  background: #f1f1f1;
}
.container .main .searchbox div .search-text {
  height: 100%;
  flex: 1;
  border-radius: 15px;
  border-radius: 15px;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
  margin-bottom: 0;
}
.container .main .searchbox div .historywordBox {
  position: absolute;
  top: 31px;
  background: #fff;
  width: 100%;
  padding: 0;
}
.container .main .searchbox div .historywordBox li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  border-bottom: 1px solid #ccc;
}
.container .main .searchbox div .historywordBox li span {
  font-size: 16px;
}
.container .main .searchbox div .historywordBox li span.delete-keyword {
  width: 30px;
}
.container .main .searchbox div .historywordBox li span.keywords {
  flex: 1;
}
.container .main .searchbox div .historywordBox li.active {
  background: #ccc;
}
.container .main .searchbox .search {
  width: 64px;
  height: 100%;
  border-radius: 15px;
  background: #ff841d;
  color: #fff;
  border: none;
}
.container .footer {
  height: 110px;
  width: 100%;
  position: fixed;
  background: #fff;
  bottom: 0;
  padding-top: 10px;
}
.container .footer .logininfo {
  height: 34px;
  display: flex;
}
.container .footer .logininfo a {
  flex: 1;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 14px;
}
.container .footer .logininfo a:nth-child(n+2) {
  border-left: 1px solid #e6e6e6;
}
.container .footer .footerinfo {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}
.container .footer .footerinfo a {
  color: #333;
}
.container .footer .footerinfo .appLogin {
  color: #ff841d;
  margin-right: 5px;
}

.banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px;
}
.banner .left {
  flex: 1;
  display: flex;
  align-items: center;
}
.banner .left .close-banner {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #fff;
  background: #ccc;
  line-height: 20px;
  text-align: center;
}
.banner .left img {
  width: 40px;
  height: 40px;
  margin: 0 12px;
}
.banner .left div p {
  color: #999;
}
.banner .left div p:nth-child(1) {
  font-size: 16px;
}
.banner .left div p:nth-child(2) {
  font-size: 12px;
}
.banner .opennow {
  height: 32px;
  width: 74px;
  text-align: center;
  line-height: 32px;
  background: #ff841d;
  color: #fff;
  box-shadow: 0px -1px 1px 0 red inset;
  font-size: 12px;
>>>>>>> 2a2e6c422af3027a9f03dffb17b769edb544140c
}

main .nav {
  height: 36px;
  background-color: #ebebeb;
  border-top: solid 1px #ebebeb;
  border-bottom: 1px solid #ccc;
  line-height: 36px;
  padding-left: 8px;
  font-size: 14px;
}
main .nav a {
  color: #5a5a5a;
}
main .goodinfo .product {
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px 0px 10px;
}
main .goodinfo .product .title {
  font-size: 16px;
  color: #000;
}
main .goodinfo .product .pic {
  padding: 10px 0;
}
main .goodinfo .do {
  margin: 0px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
  border-bottom: 1px solid orangered;
  border-top: 1px solid orangered;
  height: 34px;
}
main .goodinfo .do a {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid orangered;
  color: #fff;
}
main .goodinfo .do a:last-child {
  border-right: none;
}
main .goodinfo .do a.active {
  background-color: orangered;
}
main .goodinfo .buyinfo .gobuy {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  line-height: 34px;
}
main .goodinfo .buyinfo .gobuy a {
  color: #000;
  font-size: 16px;
}
main .goodinfo .buyinfo .gobuy .logo {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../images/icon/1.png") no-repeat center center/15px 15px;
}
main .goodinfo .buyinfo .gobuy .price {
  color: red;
  font-size: 16px;
  line-height: 34px;
}
main .goodinfo .buyinfo .gobuy .buynow {
  background-color: orangered;
  height: 34px;
}
main .goodinfo .buyinfo .notice {
  border-top: 1px solid #5a5a5a;
  font-size: 12px;
  color: #888;
  padding: 8px 10px;
  line-height: 18px;
}
main .comment .title {
  height: 34px;
  line-height: 34px;
  background-color: #ccc;
  text-align: center;
  color: #888;
  font-size: 16px;
  font-weight: bold;
}
main .comment .top {
  padding: 10px;
}
main .comment .top .usermessage {
  display: flex;
  justify-content: space-between;
}
main .comment .bottom {
  padding: 10px;
}
main .comment .bottom .checkmore {
  margin: 10px  auto;
  width: 100%;
  display: block;
  height: 32px;
  background-color: #d4d4d4;
}

/*# sourceMappingURL=bijiaolist.css.map */
