@import "common.scss";
main{
    background-color: #ebebeb;

    .searchbar{
        // display:flex;
        // justify-content: center;
     
        padding: 15px;
        // margin: 15px;
         position: relative;
         background-color: #fff;
         border-bottom: 1px solid #e6e6e6;
         .search{
            height: 30px;
            position: relative;
            padding: 0px;

         }
  
         input{          
             height: 30px;
             border-radius: 15px;
             margin-bottom: 0px;
             display: block;
             position: absolute;
             top: 0;
             left: 0;
             outline: 0 none;
             border: 0 none;
             background-color: #eee;

         }
         button{
            position: absolute;
            border-radius: 15px;
            top: 0;
            right: 0;
            height: 30px;
            background: #ff841d;
            outline: 0 none;
            border: 0 none;
         }
    }


    .tab-content{
        margin: 5px;
        .table-view{
            border-radius:5px;
            border:1px solid #ccc;
            font-size:14px;
            color:#666;
            .titleli{
                border-bottom: 1px solid #888;       
                .atitle{
                    background:#ededed;
                    height: 40px;
                    line-height: 40px;
                    color: #000;
                    font-size: 16px;
                    display: block;
                    padding-left: 16px;
                    padding-right: 16px;
                    border-bottom: 1px solid #ccc;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .fa-angle-down,
                    .fa-angle-up,
                    {
                        font-size:24px;
                        color:#666;
                    }

                }
                .itemlist{
                    position: relative;
                    display: flex;
                    flex-wrap: wrap; 
                    
                    &.active{
                     display: none;  
                    }
                    .item{
                        box-sizing: border-box;
                        width: 33.333%;  
                        height: 50px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        border: 0 none;
                        background-color: #f9f9f9;
                        border-bottom: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        &:nth-last-child(1),
                        &:nth-last-child(2),
                        &:nth-last-child(3)
                        {
                            border-bottom:none;   
                        }
                        &:nth-child(3n){
                         border-right:none;  
                        }
                    }
                }
        
            }  
    
        }

    }
}


