*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #2d374b;
    text-decoration: none
}
li {
    list-style: none;
}
img {
    display: block;
}
$itemColor:#ff841d;
.mui-scroll{
    .header{
        height:50px;
        background: $itemColor;
        display:flex;
        justify-content:space-between;
        a{
            display:flex;
            align-items: center;
            &.logo{
                padding-left:12px;
            }
            &.download{
                justify-content: center;
            }
            img{
                width:70%;
            }
        }
    }
    .main{
       flex: 1;
       height: 100%;
       position: relative;
       .search {
           padding: 10px; 
           display: flex;
           height: 50px;
           border-bottom: 1px solid #ccc;
           justify-items: center;
           position: relative;
           input {
                flex: 1;
                height: 30px;
                border-radius: 15px;
                background-color: #f1f1f1;
           }
           button {
                height: 30px;
                width: 62px;
                border-radius: 15px;
                position: absolute;
                background-color: $itemColor;
                color: #fff;
                right: 10px;
           }
       }
        .nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 19px;
            li {
                width: 25%;
                a {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    span {
                        margin-top: 14px;
                        margin-bottom: 16px;
                    }
                }
            }
        }
       .Recommend {
           height: 35px;
           background-color: $itemColor;
           display: flex;
           justify-content: space-between;
           padding: 0 10px;
           align-items: center;
           color: #fff;
            span {
               height: 30px;
               img {
                   height: 100%;
               }
           }
       } 
       .products {
            .product {
                width: 100%;
                border-bottom: 1px solid #ccc;
                padding: 0 10px;
                a {
                    display: flex;
                    align-items: center;
                    height: 128px;
                    .pic {
                        flex-basis: 102px;
                        margin-right: 10px;
                        img {
                            width: 100%;
                        }
                    }
                    .info {
                        display: flex;
                        height: 100%;
                        flex-direction: column;
                        justify-content: space-around;
                        flex: 1;
                        .title {
                            margin-top: 6px;
                            span {
                                color: $itemColor;
                            }
                        }
                        .other {
                            color:#666;
                            .mui-icon-chat {
                                margin-right: 3px;
                            }
                        }

                    }
                }
            }
            .remore {
                display: block;
                height: 32px;
                line-height: 32px;
                border: 1px solid #dddddd;
                margin:20px;
                text-align: center;
                border-radius: 4px;
            }
       }
    }
    .footer{
        height:110px;
        background-color: #fff;
        padding-top:10px;
        .logininfo{
            height: 34px;
            display:flex;
            a{
                flex:1;
                border-top:1px solid #e6e6e6;
                border-bottom:1px solid#e6e6e6;
                display:flex;
                justify-content: center;
                align-items:center;
                color:#333;
                font-size: 14px;
                &:nth-child(n+2){
                    border-left:1px solid #e6e6e6;
                }
            }
        }
        .footerinfo{
            height: 64px;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            border-bottom: 1px solid #ccc;
            font-size: 12px;
            a{
                color:#333;
            }
            .appLogin{
                color:$itemColor;
                margin-right:5px;
            }
        }

    }
}
