@import "./common.scss";
html,
body {
    height: 100%;
}

.container {
    height: 100%;
    .header {
        height: 50px;
        background: $itemColor;
        display: flex;
        justify-content: space-between;
        a {
            display: flex;
            align-items: center;
            &.logo {
                padding-left: 12px;
            }
            &.download {
                justify-content: center;
            }
            img {
                width: 70%;
            }
        }
    }
    .main {
        .searchbox {
            padding: 10px;
            border-bottom: 2px solid #e6e6e6;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                position: relative;
                height: 30px;
                flex: 1;
                border-radius: 15px;
                background: #f1f1f1;
                .search-text {
                    height: 100%;
                    flex: 1;
                    border-radius: 15px;
                    border-radius: 15px;
                    border: none;
                    background: #f1f1f1;
                    font-size: 16px;
                    margin-bottom: 0;
                }
                .historywordBox {
                    position: absolute;
                    top: 31px;
                    background: #fff;
                    width: 100%;
                    padding: 0;
                    li {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 30px;
                        border-bottom: 1px solid #ccc; // background: #fff;
                        span {
                            font-size: 16px;
                            &.delete-keyword {
                                width: 30px;
                            }
                            &.keywords {
                                flex: 1;
                            }
                        }
                        &.active {
                            background: #ccc;
                        }
                    } // display:none;
                }
            }
            .search {
                width: 64px;
                height: 100%;
                border-radius: 15px;
                background: $itemColor;
                color: #fff;
                border: none;
            }
        }
        .nav {
            .mui-table-view-cell {
                a {
                    display: flex;
                    height: 100%;
                    .left {
                        margin-right: 20px;
                        flex-basis: 110px;
                        img {
                            display: block;
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .right {
                        flex: 1;
                        p {
                            margin: 0px;
                        }
                        .name {
                            color: #000;
                            margin-bottom: 20px;
                            font-size: 16px;
                            .price {
                                color: #ff6c00;
                            }
                        }
                        .ly {
                            .ad {
                                font-size: 12px;
                            }
                            .mui-icon-chat {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
            .page {
                margin-bottom: 150px;
                height: 80px;
                padding: 20px;
                background-color: #f2f2f2;
                tr {
                    display: flex;
                    justify-content: space-around;
                    button {
                        height: 40px;
                        width: 100px;
                        background-color: #ddd;
                        border-radius: 5px;
                        border-style: none;
                        
                    }
                    #selectPage {
                        height: 40px;
                        width: 100px;
                        padding: 0 2%;
                        margin: 0;
                        outline: none;
                        padding-left: 30px ;
                        background-color: #ddd;
                    }
                }
            }
        }
    }
    .footer {
        // height:110px;
        width: 100%;
        position: fixed;
        background: #fff;
        bottom: 0;
        padding-top: 10px;
        .logininfo {
            height: 34px;
            display: flex;
            a {
                flex: 1;
                border-top: 1px solid #e6e6e6;
                border-bottom: 1px solid#e6e6e6;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #333;
                font-size: 14px;
                &:nth-child(n+2) {
                    border-left: 1px solid #e6e6e6;
                }
            }
        }
        .footerinfo {
            height: 64px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #ccc;
            font-size: 12px;
            a {
                color: #333;
            }
            .appLogin {
                color: $itemColor;
                margin-right: 5px;
            }
        }
    }
}

.banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    .left {
        flex: 1;
        display: flex;
        align-items: center;
        .close-banner {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            color: #fff;
            background: #ccc;
            line-height: 20px;
            text-align: center;
        }
        img {
            width: 40px;
            height: 40px;
            margin: 0 12px;
        }
        div p {
            color: #999;
            &:nth-child(1) {
                font-size: 16px;
            }
            &:nth-child(2) {
                font-size: 12px;
            }
        }
    }
    .opennow {
        height: 32px;
        width: 74px;
        text-align: center;
        line-height: 32px;
        background: $itemColor;
        color: #fff;
        box-shadow: 0px -1px 1px 0 red inset;
        font-size: 12px;
    }
}