<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- zepto -->
    <script src="lib/zepto/zepto.min.js"></script>
    <!--  -->
    <!-- mui -->
    <link rel="stylesheet" href="lib/mui/css/mui.min.css">
    <script src="lib/mui/js/mui.min.js"></script>
    <!-- fontIcon -->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <!-- template -->
    <script src="lib/artTemplate/template-web.js"></script>
    <script src="js/common.js"></script>
    <script src="js/gsproduct.js"></script>
    <link rel="stylesheet" href="css/gsproduct.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <span class="back fa fa-chevron-left"></span>
            <span class="title">凑单品</span>
            <div class="share">
            </div>
        </div>

        <div class="main">
            <!-- 条件选择框 -->
            <div class="screenBar">
                <div class="change">
                    <ul class="left">
                        <li class="shop" data-link="shop">
                            <span class="text">京东</span><span class="mui-icon mui-icon-arrowdown"></span>
                        </li>
                        <li class="addr" data-link="addr">
                            <span class="text">华北</span><span class="mui-icon mui-icon-arrowdown"></span>
                        </li>
                        <li class="allPrice" data-link="allPrice">
                            <span class="text">全部价格</span><span class="mui-icon mui-icon-arrowdown"></span>
                            <!-- fa-sort-up -->
                        </li>
                    </ul>
                    <div class="search">
                        <span class="fa fa-search"></span>
                    </div>
                </div>

                <ul class="changeList">

                </ul>
            </div>

            <!-- products -->
            <div class="products">
                <!-- <div class="product">
                    <div class="box">
                        <img src="http://img10.360buyimg.com/n7/jfs/t19249/136/1326656480/58167/e60034f4/5ac33204N85fb466f.jpg" alt="">
                        <div class="title mui-ellipsis">上味源 飞天锁骨 18g 鸭锁骨香辣味</div>
                        <div class="other">
                            <div class="price"><span>¥</span><span class="money">232</span></div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>

        <!-- 返回顶部悬浮框 -->
        <div class="backTop">
            <a >
                <span class="fa fa-arrow-up"></span>
                <span>顶部</span>
            </a>
        </div>
    </div>

    <!-- 筛选列表模板 -->
    <script type="text/html" id="tplchangeList">
        {{each result v i}}
            {{if v.shopName}}
            <li data-type='shop' data-id="{{v.shopId}}" class="{{if i==0}}active{{/if}} shop"><span class="text">{{v.shopName}}</span><span class="fa fa-check"></span></li>
            {{else if v.areaName}}
            <li data-type='addr' data-id="{{v.areaId}}" class="{{if i==0}}active{{/if}} area"><span class="text">{{v.areaName}}</span><span class="fa fa-check"></span></li>
            {{else}}
            <li data-type='price' data-id="{{v.id}}" class="{{if i==0}}active{{/if}} price"><span class="text">{{v}}</span><span class="fa fa-check"></span></li>
            {{/if}}
        {{/each}}
    </script>

    <!-- 搜索栏模板 -->

    <script type="text/html" id="tplsearchPage">
    
        <div class="searchPage">
                <div class="searchBar">
                    <input type="text" placeholder="搜索您想要凑的单品"><span>搜索</span>
                </div>
                <div class="sort">
                    <p>排序</p>
                    <div class="content">
                        <span class="active">销量</span>
                        <span>价格<i class="fa fa-long-arrow-up"></i></span>
                        <span>价格<i class="fa fa-long-arrow-down"></i></span>
                    </div>
                </div>
                <div class="classList">
                    <p>分类</p>
                    <div class="content">
                        <a><span class="active">全部</span></a>
                        <a><span>家居</span></a>
                        <a><span>数码</span></a>
                        <a><span>办公</span></a>
                        <a><span>个护</span></a>
                        <a><span>食品</span></a>
                        <a><span>母婴</span></a>
                        <a><span>服饰</span></a>
                    </div>
                </div>
            </div>
    </script>

    <!-- 产品页面的渲染模板 -->
    <script type="text/html" id="tplProducts">
        {{each result v i}}
        <div class="product">
            <div class="box" data-id="{{v.productId}}">
                <img src="{{v.productImg}}" alt="">
                <div class="title mui-ellipsis">{{v.productName}}</div>
                <div class="other">
                    <div class="price"><span>¥</span><span class="money">{{v.productPrice}}</span></div>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

</body>

</html>