<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 引用mui -->
    <link rel="stylesheet" href="./lib/mui/css/mui.min.css">
    <script src="./lib/mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="./lib/mui/fonts/mui.ttf">
    <!-- 引用zepo.min.js -->
    <script src="./lib/zepto/zepto.min.js"></script>
    <!-- 引入模板引擎 -->
    <script src="./lib/artTemplate/template-web.js"></script>

    <!-- 引入公共js和css -->
    <script src="./js/common.js"></script>

    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/index.js"></script>
</head>

<body>
    <div class="container">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="header">
                    <a href="./index.html" class="logo">
                        <img src="./images/icon/header_logo.png" alt="">
                    </a>
                    <a href="#" class="download">
                        <img src="./images/icon/header_app.png" alt="">
                    </a>
                </div>
                <div class="main">
                    <div class="search">
                        <input class="search-text" type="text" placeholder="请输入你想要比价的商品">
                        <button class="buttom">搜索</button>
                    </div>
                    <ul class="nav">
                        <script type="text/html" id="navlist">
                            {{each result v i}}
                            <li>
                                <a href="{{v.titlehref}}" data-indexmenuId="{{v.indexmenuId}}" {{if v.name =="更多"}} class='moreNav'{{/if}}>
                                    {{#v.img}}
                                    <span>{{v.name}}</span>
                                </a>
                            </li>
                            {{/each}}
                        </script>
                    </ul>
                    <a class="Recommend" href="">
                        <h4>超值折扣推荐</h4>
                        <span>
                            <img src="./images/icon/more.png" alt="">
                        </span>
                    </a>
                    <ul class="products">
                        <script type="text/html" id="productlist">
                            {{each result v i}}
                            <li class="product">
                                <a href="discountdetail.html?productid={{v.productId}}">
                                    <div class="pic">
                                        <!-- <img src="./images/icon/ic_search.png"> -->
                                        {{#v.productImgSm}}
                                    </div>
                                    <div class="info">
                                        <div class="title">{{v.productName}}
                                            <span>{{v.productPinkage}}</span>
                                        </div>
                                        <div class="other">
                                            <span class="mall">{{v.productFrom}} | {{v.productTime}}</span>
                                            <span class="comment mui-pull-right">
                                                <i class="mui-icon mui-icon-chat"></i>{{v.productComCount}}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {{/each}}
                            {{if sum <totalCount}}
                                <a class='remore'>更多优惠信息 »</a>
                            {{/if}}
                        </script>
                    </ul>
                    <a href="brandTitle.html" class="Recommend">
                            <h4>品牌排行</h4>
                            <span>
                                <img src="./images/icon/more.png" alt="">
                            </span>
                        </a>
                </div>
                <div class="footer">
                    <div class="logininfo">
                        <a href="register.html" class="login">注册</a>
                        <a href="login.html" class="register">登录</a>
                        <a class="return-top">返回顶部</a>
                    </div>
                    <div class="footerinfo">
                        <div>
                            <a class="appLogin" href="#">手机APP下载</a>
                            <span>慢慢买手机版--掌上比价平台</span>
                        </div>
                        <a href="./index.html">m.manmanbuy.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
